/* CONTENU PRINCIPAL*/
.chef
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}
.sous_chef
{
    display: flex;
   flex-direction: column;
}
.box
{
    width: 30em;
    height: 20em;;
}
/*NAV*/

/* GENERAL */
body
{
    margin: 0;
}
/*BARRE DE NAVIGATION*/
#menu
{
    display: flex;
    flex-direction: column;
}
.logo1
{

    width: 4em;
    height: 4em;
}
a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}
a:hover
{
  color: tomato;
}
#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
span
{
  box-shadow: 1px 2px 2px #FCFFF5;
}
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #3E606F;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #3E606F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
} 
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
#logo1
{
    width: 5em;
    height: 5em;
}

/*CONTENU PAGE PRINCIPAL*/
.bouton8 {
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#555;
	font:bold 12px Verdana;
	padding:20px 0 20px 0;
	box-shadow:1px 1px 3px #999;
}
/*SERVICE*/
#service_chef
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}
#service_sous_chef
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/*FOOTER*/
#content_footer
{    display: flex;
    flex-direction: column;
    align-items: center;
}
#blabla_footer
{
    width: 100%;
    height: 20em;
    display:flex;
    justify-content: flex-start; 
}
#map
{
    width: 100%;
}