/* Principale : #3E606F
Autres : #91AA9D, #D1DBBD, #FCFFF5, #3E606F, #193441, #172329*/


/* GENERAL */
body
{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    color: #3E606F;
    background-color: #FCFFF5;
}
h2
{
    text-align: center;
    font-size: 32pt;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    color: #3E606F;
}
/*BARRE DE NAVIGATION / HEADER*/
nav
{
    background-color: #FCFFF5;
    padding-top: 2em;
    padding-bottom: 2em;
    
}
hr
{
    background-color: #3E606F
}
nav li
{
    list-style: none;
}
a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
a:hover
{
  color: #91AA9D;
}

#menu 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
}
nav select
{
    border-radius: 3px;
    background-color:transparent; 
    font-size: 15px;
    text-transform: uppercase;
}
#inputnav
{
    display: none;
}
.logo1
{

    width: 10em;
    height: 10em;
}
/* CONTENU PRINCIPAL*/
 #content
 {
     margin-top: 6em;
 }
 #content h1
 {
     text-align: center;
     font-size: 32pt;
     font-family: 'Merriweather', serif;
     text-transform: uppercase;
     color: #3E606F;
 }
 #content h3
 {
     text-align: center;
     font-size: 32pt;
     font-family: 'Merriweather', serif;
     color: #3E606F;
 }
 .chef
 {
     display: flex;
     justify-content: space-around;
     margin-top: 10em;
 }
 .sous_chef
 {
     display: flex;
    flex-direction: column;
    text-align: center;
 }
 .box
 {
     width: 20em;
     height: 15em;;
     border: solid 2px #000;
     box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
 }
 .box1
 {
   
     background-image: url(../img/room/romm1.jpeg);
     background-size: cover;
 }
 .box2
 {
   
     background-image: url(../img/room/room2.jpg);
     background-size: cover;
 }
 .box3
 {
   
     background-image: url(../img/room/room3.jpg);
     background-size: cover;
 }
 .box4
 {
   
     background-image: url(../img/room/room4.jpg);
     background-size: cover;
 }
 .box5
 {
   
     background-image: url(../img/room/room5.jpg);
     background-size: cover;
 }
 .box6
 {
   
     background-image: url(../img/room/room6.jpg);
     background-size: cover;
 }
 .box7
 {
   
     background-image: url(../img/room/room7.jpg);
     background-size: cover;
 }
 .box8
 {
   
     background-image: url(../img/room/room8.jpg);
     background-size: cover;
 }
 .box9
 {
   
     background-image: url(../img/room/room9.jpg);
     background-size: cover;
 }
 .box10
 {
   
     background-image: url(../img/room/room10.jpg);
     background-size: cover;
 }
 .box11
 {
   
     background-image: url(../img/room/room11.jpg);
     background-size: cover;
 }
 .box12
 {
   
     background-image: url(../img/room/room12.jpg);
     background-size: cover;
 }
 .bouton8 {
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#555;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	box-shadow:1px 1px 3px #999;
}
button:hover{
    background: #3E606F;
}
/* NOS SERVICE*/
#service
{
    margin-bottom: 5em;
}
#service h2
{
    text-align: center;
    font-size: 32pt;
    font-family: 'Merriweather', serif;
    color: #3E606F;
}
#service_chef
{
    display: flex;
    justify-content: space-around;
    margin-top: 10em;
    text-align: center;
}
#service_sous_chef
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#service_sous_chef h3
{
     font-size: 32pt;
     font-family: 'Merriweather', serif;
     color: #3E606F;
}
#service_chef li
{
    list-style: none;
}
#img_service1
{
    background-image: url(../img/room/menage.jpg);
    background-size: cover;
}
#img_service2
{
    background-image: url(../img/room/pool.jpg);
    background-size: cover;
}
#img_service3
{
    background-image: url(../img/room/restaurant.jpg);
    background-size: cover;
}

/* FOOTER*/
footer
{
    background: #3E606F;
}
.logo2
{
    background-color: #91AA9D;
    margin-left: 45%;
    width: 10em;
    height: 13em;
    border-radius: 50%;
    margin-bottom: 2em;
    margin-top: 2em;
}
#content_footer
{
    display: flex;
    justify-content: flex-start;
}
#blabla_footer
{
    width: 50%;
    height: 20em;
    display:flex;
    justify-content: flex-start; 
    border: solid 1px #000;
}
#bla1
{
    width: 50%;  
}
#bla1 select
{
    border-radius: 3px;
    background-color:transparent; 
    font-size: 15px;
    text-transform: uppercase;
}
#bla2
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    
}
#map
{
    width: 50%;
    height: 20em;
    border: solid 1px #000;
}
#map_iframe
{
    width: 100%;
    height: 20em;   
}
#menu_footer
{
    margin-top: 5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
}
#menu_footer li
{
    margin: 1em;
    list-style: none;
    color: #FCFFF5;
}
.copy 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
}
footer p
{
    color:  #FCFFF5;
}
label
{
    color: #FCFFF5;
}

/* CONTENU CHAMBRE*/ 
#chambre
{
    margin-top: 6em;
}
.content_room
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}
.content_room li
{
    list-style: none;
}
.image_chambre
{
    background: url(../img/room/romm1.jpeg) ;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre1
{
    background-image: url(../img/room/room2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre2
{
    background-image: url(../img/room/room3.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre3
{
    background-image: url(../img/room/room4.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre4
{
    background-image: url(../img/room/room5.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre5
{
    background-image: url(../img/room/room6.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre6
{
    background-image: url(../img/room/room7.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre7
{
    background-image: url(../img/room/room8.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre8
{
    background-image: url(../img/room/room9.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre9
{
    background-image: url(../img/room/room10.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre10
{
    background-image: url(../img/room/room11.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}
.image_chambre11
{
    background-image: url(../img/room/room12.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 60vh;
    border: solid 2px #000;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.9);
}

/* FORM */
#form
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}
#form h2
{
    text-align: center;
     font-size: 32pt;
     font-family: 'Merriweather', serif;
}
.form-style-3{
	max-width: 450px;
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
}
.form-style-3 label > span{
	float: left;
	width: 100px;
	color: #3E606F;
	font-weight: bold;
	font-size: 13px;
	/* text-shadow: 1px 1px 1px #3E606F; */
}
.form-style-3 fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #3E606F;
	padding: 20px;
	background: #FCFFF5;
	box-shadow: inset 0px 0px 15px #FCFFF5;
	-moz-box-shadow: inset 0px 0px 15px #FCFFF5;
	-webkit-box-shadow: inset 0px 0px 15px #FCFFF5;
}
.form-style-3 fieldset legend{
	color: #3E606F;
	border-top: 1px solid #3E606F;
	border-left: 1px solid #3E606F;
	border-right: 1px solid #3E606F;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FCFFF5;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #3E606F;
	-moz-box-shadow:-0px -1px 2px #3E606F;
	-webkit-box-shadow:-0px -1px 2px #3E606F;
	font-weight: normal;
	font-size: 12px;
}
.form-style-3 textarea{
	width:250px;
	height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #3E606F;
	outline: none;
	color: #3E606F;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FCFFF5;
	width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
	background: #3E606F;
	border: 1px solid #3E606F;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #3E606F;
	-moz-box-shadow: inset -1px -1px 3px #3E606F;
	-webkit-box-shadow: inset -1px -1px 3px #3E606F;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}text-align: center;
font-size: 32pt;
.required{
	color:red;
	font-weight:normal;
}
